<div>
    <ul class="expando">
        @foreach (var challengeSection in _challengeViews)
        {
            <li>
                <div class="header" @onclick="@(() => Open(challengeSection))">
                    Difficulty: @challengeSection.Header
                    <img height="32" width="32" alt="up down ind" src="_content/ChallengeModule/images/@(challengeSection.IsActive ? "up":"down").png" />
                </div>
                <div class="item @(challengeSection.IsActive ? "active" : "")">
                    <ul class="item-list">
                        @foreach (var challenge in challengeSection.Challenges)
                        {
                            <li>
                                <hr />
                                @{var css = challenge.UserCompleted ? "completed" : "";}
                                <button class="@css" @onclick="@(() => AppState.SelectChallenge(challenge))">@challenge.Name</button>

                            </li>

                        }
                    </ul>
                </div>
            </li>
        }

    </ul>
</div>