@using Blazor.Diagrams.Components.Renderers;
<div class="card @(Node.Selected ? "selected" : "") @Node.HasMembersCss()">
    <h6 class="text-center">@Node.FullSyntaxTree.Kind</h6>
    @if (!string.IsNullOrEmpty(Node.FullSyntaxTree.Name))
    {
        <code class="text-center">@Node.FullSyntaxTree.Name</code>
    }
    @if (Node.FullSyntaxTree.Members.Any())
    {
        <div class="expand-collapse-grid">
            <div class="expand-all-icon" @onclick="HandleExpandAll"></div>
            <div class="@expandCollapseCss" @onclick=HandleExpandMembers></div>
        </div>
    }
    @foreach (var port in Node.Ports)
    {
        <!-- Default ports -->
        <PortRenderer Port="port" />
    }

</div>