@page "/challenges"
@using ChallengeModule
<div class="menu-slider">
    <div class="menu @_cssClass">
        <ChallengeList />
    </div>
    <div class="challenge-area" @onmouseup="CloseMenu">
        <div>
            <div class="text-center">
                <div>
                    <button class="button-text" @onclick="@(()=> _isReady = !_isReady)">
                        <h5>@AppState.ActiveChallenge?.Name</h5>
                    </button>
                </div>

            </div>
            <span style="margin-bottom: 0; left:0"><button @onclick="OpenMenu"><img height="24" width="24" src="icons/chevron-right-64.png" alt="menu icon" /></button></span>
            @if (_isWorking)
            {
                <div style="position:absolute; margin-left:30vw;margin-right:auto;margin-bottom:-8rem; height:300px; width:300px; z-index:1000">
                    <Spin SpinStyle="SpinStyle.Lines" />
                </div>
            }
            @if (!_isReady)
            {
                <ChallengeInfo OnIsReady="@(e => _isReady = e)" />
            }
            else
            {
                <AuthorizeView>
                    @if (AppState.CurrentUser?.CompletedChallenges?.Any(x => x.ChallengeName == AppState.ActiveChallenge?.Name) == true)
                    {
                        <button style="font-size:90%" class="standard-btn" @onclick=ShowSolution>view solution</button>
                    }
                </AuthorizeView>
                <CodeEditor OnSubmit="Submit"></CodeEditor>
            }
        </div>
        <div style="line-height:1.3rem; font-size:.9rem">
            <button class="button-text" @onclick="@ShowResults">Show Results</button><br />
            <Tooltip Text="Clear output window">
                <span style="margin-bottom: 0; left: 0">
                    <button class="clear" @onclick="AppState.ClearOutput">
                        <img height="24" width="24" src="icons/delete-100.png" alt="clear output" />
                    </button>
                </span>
            </Tooltip>
            <span style="margin-left: 20%; margin-bottom: 0; font-size: 110%">Output window</span>
            <OutputWindow />
        </div>
    </div>
</div>