
@if (IsOpen)
{
    <div class="modal-overlay" @onclick=OutClick>
        <div style="width:@(ModalOptions.Width); min-height:@(ModalOptions.Height)" class="window @(Enum.GetName(ModalOptions.Location)?.ToLower())" @onclick:stopPropagation>
            @if (!ModalOptions.HideCloseButton)
            {
                <button class="close" @onclick="CloseSelf"><span>&times;</span></button>
            }
            
            <div class="text-center title">@ModalOptions?.Title</div>
            @if(ComponentType != null)
            {
                <DynamicComponent Type="ComponentType" Parameters="ModalParameters"></DynamicComponent>
            }
            @if (ChildContent != null)
            {
                @ChildContent
            }
            @if (ModalConfirmOptions != null)
            {
                <div class="text-center title">@ModalConfirmOptions.Title</div>
                <p>@ModalConfirmOptions.Content</p>                                                        
                <div class="confirm-grid">
                    <button class="confirm" @onclick="@(() => ConfirmClose(true))">@ModalConfirmOptions.ConfirmButton.Label</button>
                    <button class="decline" @onclick="@(() => ConfirmClose(false))">@ModalConfirmOptions.DeclineButton.Label</button>
                </div>
            }
            
        </div>
    </div>
}
@code
{

}
